@font-face {
    font-family: 'Droid Sans';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/droidsans/v12/SlGVmQWMvZQIdix7AFxXkHNSbQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
:root{
    --color1: #0F384B;
    --color2: #FFD152;
    --color3: #F25F35;
    --color4: #309E78;
    --color5: #F9FFFD;
    --color6: #F9FFFDD6;
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-family: 'Droid Sans', Arial, Helvetica, sans-serif;
}
body{
    background-color: var(--color5);
}
.container{
    padding: 0px;
}
.bg-top{
    display: inline-block;
    background: url("../img/bg-1280.jpg") no-repeat center;
}
.row{
    margin: 0px;
}
.bg-top, .row-top, .aviso{
    height: 50vh;
}
.overlay-top{
    background-color: var(--color6);
}
.text-top, .text-autor{
    color: var(--color1);
    margin: auto;
    text-align: center;
    font-size: 1.3rem;
    font-weight: bold;
    opacity: 1;
}
.text-autor{
    font-size: 1rem;
}
.aviso{
    background-color: var(--color1);
    color: var(--color5);
}