@font-face {
    font-family: 'Droid Sans';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/droidsans/v12/SlGVmQWMvZQIdix7AFxXkHNSbQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
:root{
    --color1: #0F384B;
    --color2: #FFD152;
    --color3: #F25F35;
    --color4: #309E78;
    --color5: #F9FFFD;
    --color6: #F9FFFDD6;
    --color7: #0f384b75;
    --bs-body-font-family: Droid Sans;
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-family: 'Droid Sans';
}
body{
    background-color: var(--color5);
}
.container{
    padding: 0px;
}
.row{
    margin: 0px;
}

/*Header*/
#logo-header{
    color: var(--color1);
    font-size: 1.5rem;
    text-decoration: none;
}
.navbar-light .navbar-brand {
    color: var(--color1);
}
.texto-logo{
    font-size: 1rem;
}

/*Main*/
h1{
    font-size: 2.5rem;
}
.bg-top{
    display: inline-block;
    background-image: url("../tecnologia/img/bg-1280.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-top-site-juridico{
    display: inline-block;
    background-image: url("../direito/img/bg-top-site-juridico.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-top, .row-top, .bg-top-site-juridico{
    height: 35vh;
}
.aviso{
    background-color: var(--color1);
    color: var(--color5);
    height: 55vh;
}
.aviso-index{
    background-color: var(--color1);
    color: var(--color5);
}
.overlay-top{
    background-color: var(--color6);
}
.text-top, .text-autor, .text-autor-site-juridico{
    color: var(--color1);
    margin: auto;
    text-align: center;
    font-size: 1.3rem;
    font-weight: bold;
    opacity: 1;
}
.text-autor{
    font-size: 1rem;
}
.text-autor-site-juridico{
    width: 100%;
}
.projeto{
    width: 100%;
}

.apresentacao{
    background-color: var(--color1);
}
.col-nome{
    margin-top: 130px;
}
#foto-perfil{
    margin-top: -100px;
}
#card-nome{
    background-color: var(--color5);
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
}
.col-botao{
    margin-top:0px;
}
.botao{
    background-color: var(--color5);
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    width: 100%;
    padding: 21px 0px;
}

.title-projetos{
    font-family: Droid Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 1.5rem;
}

/*Footer*/
.rodape{
    background-color: var(--color1);
}
#logo-rodape{
    color: var(--color6);
    font-size: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.contato-links{
    color: var(--color6);
    font-size: 1rem;
    text-decoration: none;
}
.contato-links:hover{
    color: var(--color2);
}
.btn-curriculo{
    background-color: var(--color5);
    color: var(--color1);
    border: 0px;
    font-weight: 500;
    padding: 15px 0px;
    width: 50vw;
}
.btn-curriculo:hover{
    background-color: var(--color2);
    color: var(--color1);
}
.duvida{
    color: var(--color5);
    font-size: 1.4rem;
}
@media screen and (min-width: 769px) {
    #logo-header{
        margin-left: 80px;
    }
    .btn-curriculo{
        width: 10vw;
    }
    .apresentacao-nav{
        border-left: 1px solid var(--color7);
    }
    .projetos-nav{
        border-left: 1px solid var(--color7);
        border-right: 1px solid var(--color7);
    }
    .navbar-brand {
        font-size: 1.5rem;
    }
    .nav-link{
        padding: 0;
    }
    .col-botao{
        margin-top: 130px;
    }
    .botao{
        width: 100%;
    }
}